1 VERSIONINFO
FILEVERSION 0, 6, 0, 0
PRODUCTVERSION 0, 6, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "A.G.Balakhnin aka Fizick, bag@hotmail.ru, http://bag.hotmail.ru"
   VALUE "FileDescription", "DeFlicker plugin for Avithynth 2.6"
   VALUE "FileVersion", "0.6"
   VALUE "InternalName", "DeFlicker"
   VALUE "LegalCopyright", "(c)A.G.Balakhnin, 2004, pinterf 2019"
   VALUE "OriginalFilename", "DeFlicker.dll"
   VALUE "ProductName", "DeFlicker filter"
   VALUE "ProductVersion", "0.6"
   VALUE "Comments", "Mean intensity stabilizer. Licensed under GNU GPL v.2"
  }                                                                      
 }
}
